name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - run: mvn clean verify -DskipTests=true --show-version
      - uses: 8398a7/action-slack@v2
        with:
          status: ${{ job.status }}
          author_name: lint status
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure()
  test-with-server:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mattermost-version:
          - 6.2.1
          - 6.1.1
          - 6.0.4
          - 5.39.3
          - 5.37.6
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - run: docker-compose up -d
        env:
          MATTERMOST_VERSION: ${{ matrix.mattermost-version }}
      - run: mvn clean verify --show-version
      - name: SonarQube scan
        run: mvn sonar:sonar -s .github/workflows/settings-sonar.xml
        if: github.repository == 'maruTA-bis5/mattermost4j' && github.actor != 'dependabot[bot]' && matrix.mattermost-version == '5.23.0'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: 8398a7/action-slack@v2
        with:
          status: ${{ job.status }}
          author_name: test status for version ${{ matrix.mattermost-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure()
